<!DOCTYPE html>
<div class="container alert-dark" style="flex:center; display: flex;">
    <div>
        <center>
            <h1>TIEMPOS PERDIDOS</h1>
        </center>
        <!-- {{imagen.imagen}}}}
            {%for imagen in imagen %}
                <!-- <img src="data:image/png;base64,{{imagen.imagen}}" alt="sin foto">  -->
            {%endfor%} -->
        <img src="./static/tiemposPerdidos.png" alt="">
    </div>
    <div>
        <center>
            <h1>CANTIDADES</h1>
        </center>
        <img src="./static/cantidades.png" alt=""> 
    </div>
</div>
        
</div>



